DATABASE_URL="postgres://postgres:postgres@localhost:5434/denolith?schema=public"
PORT=3000
DENO_ENV=development
# Tạo secret ngẫu nhiên >= 32 ký tự. Ví dụ: openssl rand -hex 32
JWT_SECRET="REPLACE_WITH_A_64_CHAR_RANDOM_SECRET_DO_NOT_USE_THIS"
REDIS_URL="redis://localhost:6379"